@media (max-width: 1330px)
    .sidepanel
        display: none
@media (max-width: 1200px)
    .container
        max-width: 960px
    .about
        &__wrapper
            grid-template-columns: 309px 540px
            column-gap: 50px
        &__skills
            column-gap: 20px
            grid-template: repeat(2, minmax(115, auto) / repeat(2, 250px))
            &-item
                grid-template-columns: 40px 195px
                column-gap: 15px
    .skills-percent
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
        &-item:first-child
            margin-right: 20px
        &-item:nth-child(2)
            margin-left: 20px
        &-item:last-child
            margin-top: 30px
    .skills__wrapper
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
    .portfolio__wrapper
        display: flex
        align-items: center
        justify-content: center
        flex-wrap: wrap
    .contacts
        padding-bottom: 50px
        &__descr
            width: 500px
        &__wrapper
            display: flex
        &__photo
            img
                width: 400px
        &__btn
            width: 250px
        &__policy
            margin-top: 20px
        &__textarea
            textarea
                width: 300px
                height: 100px
        &__input
            height: 30px
            width: 300px
            &:last-child
                margin-top: 20px
        &__form
            display: flex
            flex-direction: column
        &__wrapper__input
            display: flex
            flex-direction: column
            width: 300px
        &__triggers
            width: 300px
            display: flex
            flex-direction: column
@media (max-width: 992px)
    .container
        max-width: 720px
    .promo__title
        font-size: 28px
        line-height: 47px
    .about
        &__wrapper
            grid-template-columns: 309px 375px
            column-gap: 35px
        &__skills
            display: flex
            flex-direction: column
            &-item
                &:last-child
                    margin-top: 20px
        &__photo
            height: 570px
            width: 309px
            object-fit: cover
        &__text
            font-size: 14px
    .resume__wrapper-items
        width: 700px
        display: grid
        grid-template-columns: 300px 300px
        justify-content: space-between
    .resume-item
        margin: 0 auto
        margin-top: 45px
        &-text
            width: 300px
    .resume-sert-img
        width: 300px
    .skills-percent
        margin: 0 auto
        margin-top: 60px
        width: 400px
        &-item:first-child
            margin-right: 0
        &-item:nth-child(2)
            margin-top: 30px
            margin-left: 0
        &-item:last-child
            margin-top: 30px
    .portfolio__item
        margin-top: 45px
    .prise
        &__wrapper
            flex-wrap: wrap
            justify-content: space-between
        &__item:last-child
            margin-top: 20px
    .contacts
        margin: 0 auto
        &__photo
            display: none
    .contacts
        padding-bottom: 50px
        &__btn
            width: 250px
        &__policy
            margin-top: 20px
        &__textarea
            textarea
                width: 300px
                height: 100px
        &__input
            height: 30px
            width: 300px
            &:last-child
                margin-top: 20px
@media (max-width: 768px)
    .container
        max-width: 540px
    .promo__title
        width: 300px
        font-size: 23px
        line-height: 34px
    .skills-percent
        &-item:first-child
            margin-right: 0
        &-item:nth-child(2)
            margin-top: 30px
            margin-left: 0
        &-item:last-child
            margin-top: 30px
    .about
        padding-top: 50px
        &__wrapper
            display: flex
            flex-direction: column
        &__photo
            height: 540px
            width: 100%
            object-fit: cover
        &__skills
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
    .resume__wrapper-items
        width: 500px
        display: flex
        align-items: center
        justify-content: center
        flex-direction: column
    .prise
        &__wrapper
            flex-wrap: wrap
            justify-content: center
        &__item
            margin-top: 20px
    .promo
        background: url('../img/main_bg_media.png') center center/cover no-repeat
@media (max-width: 700px)
    .promo
        background: #71cbf5
@media (max-width: 576px)
    .prise
        &__wrapper
            flex-wrap: wrap
            justify-content: space-between
        &__item
            margin-top: 20px
    .container
        max-width: 100%
    .menu__block
        width: 240px
    .promo__wrapper
        margin-left: 30px
    .menu__link
        a
            font-size: 24px
    .about
        &__descr
            margin-left: 20px
            width: 90%
            margin: 0 auto
        &__skills
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            &-item
                display: grid
                grid-template-columns: 50px 300px
        &__text
            text-align: start
            padding-right: 20px
        &__subtitle
            font-size: 30px
        &__photo
            display: block
            margin: 0 auto
            height: 480px
            width: 90%
            object-fit: cover
    .contacts
        padding-bottom: 50px
        &__btn
            width: 250px
        &__policy
            margin-top: 20px
        &__textarea
            textarea
                width: 300px
                height: 100px
        &__input
            height: 30px
            width: 300px
            &:last-child
                margin-top: 20px
        &__form
            display: flex
            flex-direction: column
        &__wrapper__input
            display: flex
            flex-direction: column
            width: 300px
        &__triggers
            width: 300px
            display: flex
            flex-direction: column
        &__descr
            margin-left: 20px
@media ( max-width: 570px)
    .prise
        &__wrapper
            flex-wrap: wrap
            justify-content: center
        &__item
            margin-top: 20px
@media ( max-width: 500px)
    .resume__wrapper-items
        width: 400px
@media ( max-width: 400px)
    .about__skills
            &-item
                display: grid
                grid-template-columns: 50px 200px
    .resume__subtitle
        line-height: 50px
    .resume__wrapper-items
        width: 300px
    .skills-percent
        display: none
    .promo__title
        font-size: 20px
    .contacts
        &__subtitle
            line-height: 40px
            margin-top: 10px
            margin-bottom: 10px
        &__triggers
            width: 300px
        &__descr
            margin-left: 20px